<div class="row mb-3 align-items-center position-relative">
  @if (label) {
    <label [class]="labelClass" [class.required-label]="required">{{ label }}</label>
  }
  <div [class]="controlClass">
    <input
     [type]="type"
     class="form-control"
     [value]="value() ?? ''"
     [autocomplete]="autocomplete"
     [required]="required"
     [disabled]="disabled()"
     [placeholder]="placeholder"
     (input)="onInput($event)"
     (blur)="onBlur()"
   />

    <fa-icon class="position-absolute end-0 top-50 translate-middle-y" (click)="toggle()" [icon]="faIcon" />
  </div>
   @if (showError) {
      <div class="invalid-feedback d-block">

        @for (key of errorKeys; track key) {
          <div>
            {{ errorMessages[key] || key }}
          </div>
        }

      </div>
    }
</div>

