<div class="row mb-3 align-items-center">
  @if (label) {
    <label [class]="labelClass" [class.required-label]="required">{{ label }}</label>
  }

  <div [class]="controlClass">
    <input
      type="text"
      class="form-control"
      [value]="value() ?? ''"
      [required]="required"
      [placeholder]="placeholder"
      [disabled]="disabled()"
      (input)="onInput($event)"
      (blur)="onBlur()"
    />
  </div>

   @if (showError) {
      <div class="invalid-feedback d-block">

        @for (key of errorKeys; track key) {
          <div>
            {{ errorMessages[key] || key }}
          </div>
        }

      </div>
    }
</div>
